.parallaxSection {
  background-image: url('../../assets/images/k.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; /* Imagen más alejada */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000; /* Fondo de respaldo */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  width: 60px; /* Tamaño del botón */
  height: 60px;
  border: none;
  border-radius: 50%; /* Botón redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  
  padding: 0; /* Elimina relleno extra */
}

.button:hover {
  transform: scale(1.1); /* Efecto zoom al pasar el mouse */
 
}

.icon {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
/* Aumentar solo el primer icono */
.button:nth-child(1) .icon {
  width: 150%;
  height: 150%;
}

