.about {
  max-width: 800px;
  margin: 4rem auto;
  padding: 0 1rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #919191;
}

.text {
  font-size: 2rem;
  line-height: 1.6;
  color: #c0c0c0;
  margin-bottom: 1rem;
}

.logo {
  width: 150px;
  height: auto;
  margin: 1rem auto;
}


.videoThumbnail {
  display: inline-block;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.videoThumbnail:hover {
  transform: scale(1.05);
}



.youtubePlayButton {
  width: 60px;
  height: 40px;
  background-color: #ff0000; /* Rojo YouTube */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.youtubePlayButton:hover {
  background-color: #cc0000; /* Oscurece al hacer hover */
}

.playTriangle {
  width: 0;
  height: 0;
  border-left: 12px solid white;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.videoThumbnail:hover .playText {
  background-color: #666;
}

/* Modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: #000;
  padding: 1rem;
  border-radius: 12px;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.video {
  width: 800px;
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 12px;
}

/* 📱 RESPONSIVE: Tipografía, Logo, Poster, Video */
@media (max-width: 1100px) {
  .title {
    font-size: 2.5rem;
  }

  .text {
    font-size: 1.3rem;
  }

  .logo {
    width: 180px;
  }



  .video {
    width: 700px;
    max-width: 90vw;
    max-height: 90vh;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 1.1rem;
  }

  .logo {
    width: 150px;
  }



  .video {
    width: 600px;
    max-width: 90vw;
    max-height: 90vh;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 1.7rem;
  }

  .text {
    font-size: 1rem;
  }

  .logo {
    width: 120px;
  }

  .video {
    width: 90vw;
    max-width: 90vw;
    max-height: 90vh;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 1.5rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .logo {
    width: 100px;
  }



  .video {
    width: 90vw;
    max-width: 90vw;
    max-height: 90vh;
  }
}
