@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&family=Urbanist:wght@400;600;700&display=swap');


/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: 1px dotted red; 
}

/* TIPOGRAFÍA BASE */
body {
  font-family: 'Poppins', sans-serif; /* <-- Puedes cambiarlo más adelante */
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* VARIABLES CSS */
:root {
  /* COLORES PRINCIPALES */
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --background-color: #000000;
  --text-color: #212529;

  /* ESPACIADO */
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;

/* Tipografía */
 --font-title: 'Urbanist', sans-serif;
--font-body: 'Poppins', sans-serif;

  
  /* BREAKPOINTS (comentados, útiles para referencia en media queries) */
   --breakpoint-sm: 350px; 
   --breakpoint-md: 450px; 
   --breakpoint-lg: 700px; 
   --breakpoint-xl: 1100px; 
}

/* ENLACES */
a {
  color: inherit;
}

/* CABECERAS */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
}
